.img{
    position: relative;
    background-image: url(https://blog.kakaocdn.net/dn/cPp5AY/btq1yYvaaRu/5QihdteWmDt4rTcIbyHpm0/img.png);                                                               
    height: 100vh;
    background-size: cover;
    & .content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);                                                                   
        font-size:5rem;
        color: rgb(235, 232, 220);
        z-index: 2;
        text-align: center;
    }
}
.img2{
    position: relative;
    background-image: url(https://blog.kakaocdn.net/dn/bY9iat/btq1C2C9GQ4/6apHLjAGS9wKwXOMaeiNkk/img.jpg);                                                               
    height: 100vh;
    background-size: cover;
    & .content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);                                                                   
        font-size:5rem;
        color: rgb(235, 232, 220);
        z-index: 2;
        text-align: center;
    }
}
.img3{
    position: relative;
    background-image: url(https://blog.kakaocdn.net/dn/nHm3q/btq1C1jUdtq/2N2mFGjzI3dEMeJwyZVnz0/img.jpg);                                                               
    height: 100vh;
    background-size: cover;
    & .content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);                                                                   
        font-size:5rem;
        color: rgb(235, 232, 220);
        z-index: 2;
        text-align: center;
    }
}
.img4{
    position: relative;
    background-image: url(https://blog.kakaocdn.net/dn/QeDHS/btq1ByvvWcY/9bIFmGscYiKD0NdVzR6MgK/img.jpg);                                                               
    height: 100vh;
    background-size: cover;
    & .content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);                                                                   
        font-size:5rem;
        color: rgb(235, 232, 220);
        z-index: 2;
        text-align: center;
    }
}
.img-cover{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);                                                                 
    z-index:1;
 }

svg{ cursor: pointer; }


 
