.formBox{
    font-family: "helvetica", "AppleSDGothicNeo", "Apple SD Gothic Neo", "Roboto", "Noto Sans", "Gulim", sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.member_header{
    font-family: "helvetica", "AppleSDGothicNeo", "Apple SD Gothic Neo", "Roboto", "Noto Sans", "Gulim", sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 1.5;
    display: block;
    padding: 60px 0 26px 0;
    position: relative;
}

.join_form{
    font-family: "helvetica", "AppleSDGothicNeo", "Apple SD Gothic Neo", "Roboto", "Noto Sans", "Gulim", sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}